.container {
  margin: 50px 0px;
}

.card {
  margin: 0 2% !important;
}

.infected {
}

.recovered {
  
}

.deaths {
  
}

.active {
  
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
